/* Apply Background */
body {
  background: #dedcdb; /* Dark Gray-Black */
  color: hsl(327, 43%, 4%); /* Light Gray */
  font-family: "Arial", sans-serif;
}

/* Card Styling */
.card {
  background: #823d76; /* Dark Gray */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(155, 86, 86, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: 1px solid #555555;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

/* Card Text */
.project-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #efeaea;
}

.card p {
  font-size: 14px;
  color: #f2dce9;
  margin: 5px 0;
}

/* Buttons */
.btn {
  background-color:rgb(209, 80, 176);
  color: #ffffff;
  font-weight: bold;
  border: 3px solid #606060;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(0, 4%, 76%);
}

/* Table */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #b75353;
  color: #E0E0E0;
}

.styled-table th {
  background-color: #505050;
  color: white;
}

.styled-table td {
  border-bottom: 2px solid #707070;
}

/* Home Section Styling */
.home {
  background-color: hsl(240, 25%, 44%); /* Lavender */
  color: #685a5a;
  padding: 20px;
  flex-grow: 1;
}

.home h1, .home p {
  color: #333;
}
